<html> 
<head> 
	<title> 
	</title> 
	<style> 
	.boxes{ 
	width:50%; 
	float:left; 
	} 
	#mainDiv{ 
		width:50%; 
margin:auto; 
	} 
	img{ 
		max-width:100%; 
	} 
</style> 
</head> 
<body style="background-color: aqua;">
    <center><h1>Meet people behind this idea!</h1><br>
<div id="mainDiv"> 
    <div id="divOne" class="boxes"> 
	<img src="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/assets/images/sourav.jpeg"> 
    </div> 
    <div id="divTwo" class="boxes"> 
	<img src="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/assets/images/jayri.png"> 
    </div> 
</div> <br><br><br><br><br><br><br><br>
<h3>Both of us have a common goal of educating and empowering friends and juniors through innovative solutions.
We aspire to leave a mark wherever we go. This site is a result of our dedication and 
determination to add purpose not only to our lives, but also help others bring out the 
best in them!<br><br><br>

If we impressed you anyhow or you want to contact us, below are our LinkedIn handles. 
Feel free to communicate!<br> 
<a href="https://www.linkedin.com/in/isouravganguly/" target="_blank">Sourav's profile</a><br>
<a href="https://www.linkedin.com/in/jayri-bagchi-605b37174/" target="_blank"> Jayri's profile</a><br></h3>
<a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">Go back</a>
</center> 
</body> 
<html> 
