<html>
 <head>
 </head>
 
 <body style="background-color:rgb(205, 90, 186);">
   <center><h1>Work for the service of our nation by joining the Indian Army.</h1><br>


   <h2>Th official site for recruitment in the Indian Army
   <a href="https://www.nda.nic.in/" target="_blank">here</a> <br><br>

   A clear roadmap for opportunities in the Indian Army after Engineering
   <a href="in the Indian Army" target="_blank"> 
    here </a> <br><br>
    
    
    <a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">Go back</a>
    </h2>
   </center>
 </body>
</html>