<html>
 <head>
 </head>
 
 <body style="background-color:rgb(205, 94, 90);">
   <center><h1>Dreaming of becoming the next Steve Jobs? Well, we can actually help!</h1><br>


   <h2>Read books on entrepreneurship
   <a href="https://www.amazon.in/Entrepreneur-Books/s?k=Entrepreneur+Books" target="_blank">here</a> <br><br>

   Listen to lectures on entreprenuership by IIT professors
   <a href="https://youtube.com/playlist?list=PLLy_2iUCG87CUSdZ0z0ihunS1QSrNqXFN" target="_blank"> 
    here </a> <br><br>
    
    
    Our respected Professors who can help you launch your first startup <br>
     Prof. Goutam Sinha  --- 
     <a href="https://www.buie.ac.in/departments/humanities/people/faculty/item/1529408159/" target="_blank">
       Contact Sir</a><br>
      Prof. Tapas Sangiri  ---
      <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047592/" target="_blank">
        Contact Sir</a><br><br><br><br>

    <a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">Go back</a>
    </h2>
   </center>
 </body>
</html>