<html>
 <head>
 </head>
 
 <body style="background-color:SlateBlue;">
   <center><h1>Know more about the GATE exam! </h1><br>


   <h2>Go through an introductory video 
   <a href="https://www.youtube.com/watch?v=rwZjRqjJfzk" target="_blank">here</a> <br><br>
   Stay updated with the GATE official website of 
   <a href="http://gate.iitd.ac.in/" target="_blank"> 
    IIT Delhi </a> <br><br>
    Access online courses for subject depth by IIT Professors
   <a href="https://swayam.gov.in/nc_details/NPTEL" target="_blank"> 
    here </a> <br><br>
    Watch free videos of exam topics in
    <a href="https://www.youtube.com/c/iit/videos" target="_blank"> 
     YouTube </a> <br><br> <br><br>

     Our respected Professors who can help you with the preparation for this exam <br>
     Prof. Satya Gopal Chandra  --- 
     <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047603/" target="_blank">
       Contact Sir</a><br>
      Prof. Samir Banerjee   ---
      <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047606/" target="_blank">
        Contact Sir</a><br><br><br><br>

     <a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">Go back</a>
    </h2>
   </center>
 </body>
</html>