<html>
 <head>
 </head>
 
 <body>
   <center><h1>So you want to study further? We can help you! </h1><br>


   <h2>Pursue Masters of Technology or Masters of Engineering after your graduation<br>  
   <a href="https://www.shiksha.com/m-e-m-tech-chp" target="_blank">Know more</a> <br><br>

   You can further put a Dr. before your name by pursuing a PhD in your field of interest
   <a href="https://en.wikipedia.org/wiki/Doctor_of_Philosophy" target="_blank"> <br>
    Click </a> for further info<br><br>
    
    
     Go back to the home page <a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">by clicking here.</a>
    </h2>
   </center>
 </body>
</html>