<html>
 <head>
 </head>
 
 <body style="background-color:violet;">
   <center><h1>The section that's necessary - getting a job! </h1><br>


   <h2>TCS conducts TCS NQT, TCS Ninja, TCS Digital examinations periodically every year. <br>
    Register yourselves in their careers page by clicking 
   <a href="https://www.tcs.com/careers?country=IN&lang=EN" target="_blank">here</a> <br><br>
   Wipro conducts Elite National Talent Hunt twice or thrice a year. <br>
   Register yourselves in their careers page by clicking
   <a href="https://careers.wipro.com/careers-home/" target="_blank"> 
    here </a> <br><br><br><br>
    
    For technical project ideas and mentoring, Contact Prof. Priyaranjan Misra
    <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047606/" target="_blank">here</a> <br><br>

    <a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">Go back</a>
    </h2>
   </center>
 </body>
</html>