<html>
 <head>
 </head>
 
 <body>
   <center><h1>The section that's necessary - getting a job! </h1><br>


   <h2>TCS conducts TCS NQT, TCS Ninja, TCS Digital examinations periodically every year. <br>
    Register yourselves in their careers page by clicking 
   <a href="https://www.tcs.com/careers?country=IN&lang=EN" target="_blank">here</a> <br><br>
   Wipro conducts Elite National Talent Hunt twice or thrice a year. <br>
   Register yourselves in their careers page by clicking
   <a href="https://careers.wipro.com/careers-home/" target="_blank"> 
    here </a> <br><br>
    
    
     Go back to the home page <a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">by clicking here.</a>
    </h2>
   </center>
 </body>
</html>