<html>
 <head>
 </head>
 
 <body>
   <center><h1>Enjoy the depth of research! </h1><br>


   <h2>Explore research in the field of your interest  
   <a href="https://www.researchgate.net/" target="_blank">here</a> <br><br>

   Search research articles and books by keywords
   <a href="https://scholar.google.com/" target="_blank"> 
    here </a> <br><br>
    
    
     Go back to the home page <a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">by clicking here.</a>
    </h2>
   </center>
 </body>
</html>