<html>
 <head>
 </head>
 
 <body style="background-color:orange;">
   <center><h1>Enjoy the depth of research! </h1><br>

   <h2>Search research articles and books by keywords
   <a href="https://scholar.google.com/" target="_blank"> 
    here </a> <br><br>
    
    
   Browse through the online repository of research articles in various disciplines
   <a href="https://arxiv.org/" target="_blank"> here</a> <br><br>

   Explore research in the field of your interest  
   <a href="https://www.researchgate.net/" target="_blank">here</a> <br><br><br><br>

   For mentoring and guide in research, Contact Dr. Tapas Si
   <a href="https://www.buie.ac.in/departments/computer-science-engineering/people/faculty/item/1527047590/" target="_blank">here</a> <br><br>

    <a href="C:/Users/bagchi/Favorites/Downloads/Career_Guidance_System-main/index.html">Go back</a>
    </h2>
   </center>
 </body>
</html>